*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-content{
    display: grid;
    padding: 15px 0 0 10px;
}

.form-field{
    padding-top: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    background-color: black;
}
.text {
  font-size: 10px;
  font-family:'Times New Roman', Times, serif;
}

/* .submit-btn a input{
  background-color: rgba(0,0,0,0.3);
  margin: 10px;
  padding: 25px;
  cursor:  pointer;
  margin-left: 40px;

} */
