{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lancamento de Horas BackOffice</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    {% include "AtividadeApp/partials/_message.html" %}
    <div class="form-content">
        <form action='{% url "main" %}' method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-field">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
            <a href={% url "main" %} download id='btn_analyze'>
                <div class="btn">                
                    <input type="submit" value="Exportar Atividade">   
                </div>
            </a>
        </div>
    </form>
    <script>
        $('#btn_analyze').click(function(e) {
            e.preventDefault()
            $.post('/api/v1/analyzer/',
                data,
                "json").done(function(response) {
                //...
            }).fail(function() {
                Logger.error(" Error ")
            })
        
            return false
        }) // analyze click
    </script>
</body>
</html>