{% include "AtividadeApp/partials/_head.html" %}
<body>
    <div class="login-container">
        <div class="login-card">
            <div class="page-title">
                <h2>Lançamento de Horas</h2>
            </div>
            <div class="user-message">
                <span>Olá, <strong>{{ user.username }}</strong>! Você está logado. <a href="{% url 'logout' %}"><strong>Trocar de conta</strong></a></span>
            </div>
            {% include "AtividadeApp/partials/_message.html" %}
            <div class="form-content">
                <form action='{% url "main" %}' method='POST' enctype="multipart/form-data">
                    {% csrf_token %}
                    {% include "AtividadeApp/partials/_form.html" %} 
                    <div class="form-field">
                        <button id="btnLogin" type="submit">Exportar Atividade</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        $('#btn_analyze').click(function(e) {
            e.preventDefault()
            $.post('/api/v1/analyzer/',
                data,
                "json").done(function(response) {
                //...
            }).fail(function() {
                Logger.error(" Error ")
            })
        
            return false
        }) // analyze click
    </script>
</body>
</html>