{% include "AtividadeApp/partials/_head.html" %}
<body>
    <div class="trocarConta">
        <h4>
            Você fez login como {{ user.username }}.
            Clique <a href="{% url "logout" %}">aqui</a> para trocar de conta.
        </h4>
    </div>
    {% include "AtividadeApp/partials/_message.html" %}
    <div class="form-content">
        <form action='{% url "main" %}' method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            {% include "AtividadeApp/partials/_form.html" %} 
            <div class="btn">             
                <input type="submit" value="Exportar Atividade">   
            </div>
        </form>
    </div>
    <script>
        $('#btn_analyze').click(function(e) {
            e.preventDefault()
            $.post('/api/v1/analyzer/',
                data,
                "json").done(function(response) {
                //...
            }).fail(function() {
                Logger.error(" Error ")
            })
        
            return false
        }) // analyze click
    </script>
</body>
</html>