{% include "AtividadeApp/partials/_head.html" %}
    <body>
        <div class='title'>
            <h2>Login</h2>
        </div>
        <form action="{% url "login" %}" method="POST">
            {% csrf_token %}
            {% include "AtividadeApp/partials/_message.html" %}
            {% if user.is_authenticated %}
                <div class="text">
                    <h4>
                        Você fez login como {{ user.username }}.
                        Clique <a href="{% url "logout" %}">aqui</a> para sair.
                    </h4>
                    <br>
                    <h4>
                        Clique <a href="{% url "main" %}">aqui</a> para ir a aplicação.
                    </h4>
                </div>
            {% else %}
                <div class="form-content">
                    {% include "AtividadeApp/partials/_form.html" %}
                    <div class="form-content">
                        <div class="form-field">
                            <button id="btnLogin" type="submit">Login</button>
                        </div>
                    </div>
                </div>
            {% endif %}
        </form>
    </body>
</html>